# Object files
*.o
*.obj

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Debug
*.pdb
*.tlog
*.log

# Visual Studio
*.manifest
*.idb
*.opensdf
*.sdf
*.suo
*.ilk
*.vcxproj
*.vcxproj.filters

# Specific
Project/Src/Debug/*
Project/Src/GPUGraftals.vcxproj
Project/Src/GPUGraftals.vcxproj.filters